
<% include header %>
  <% include navbar %>
<html lang="en">
  
  <body>
    

    <div class="container">
        <h1>Map:</h1>
        
        <div id="map"></div>
    </div>

    <div class="container col-lg-6 col-md-6">
  		<h2>Filters</h2>
  		<h3> Demographics </h3>           
  		<table class="table table-bordered">
    	<thead>
      		<tr>
        		<th>Key</th>
        		<th>Attributes</th>
      		</tr>
    	</thead>
    	<tbody>
      		<tr>
        		<td>Race</td>
			    <td>
			    	<div class="checkbox">
			       		<label class="checkbox-inline"><input type="checkbox" value="">White</label>
						<label class="checkbox-inline"><input type="checkbox" 	value="">African American/Black</label>
						<label class="checkbox-inline"><input type="checkbox" value="">American Indian</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Alaska Native</label>
					</div>
					<div class="checkbox"> 
						<label class="checkbox-inline"><input type="checkbox" value="">Asian</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Pacific Islander</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Other</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Two or More</label>
					</div>
				</td>
      		</tr>
      		<tr>
		        <td>Language</td>
		        <td><div class="checkbox">
		        	<label class="checkbox-inline"><input type="checkbox" value="">English</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Spanish</label>
					<label class="checkbox-inline"><input type="checkbox" value="">European </label>
					<label class="checkbox-inline"><input type="checkbox" value="">Asian</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Other</label>
				</div></td>
		    </tr>
		    <tr>
		        <td>Area of Birth</td>
		        <td><div class="checkbox">
		        	<label class="checkbox-inline"><input type="checkbox" value="">US</label>
					<label class="checkbox-inline"><input type="checkbox" value="">PR/US Islands</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Latin America</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Asia</label>
				</div>
				<div class="checkbox">
					<label class="checkbox-inline"><input type="checkbox" value="">Europe</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Africa</label>
					<label class="checkbox-inline"><input type="checkbox" value="">North America</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Oceania</label>
				</div></td>
		    </tr>
		    <tr>
		        <td>Marital Status</td>
		        <td><div class="checkbox">
		        	<label class="checkbox-inline"><input type="checkbox" value="">Married</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Widowed</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Divorced </label>
					<label class="checkbox-inline"><input type="checkbox" value="">Seperated</label>
					<label class="checkbox-inline"><input type="checkbox" value="">N/A</label>
				</div></td>
		    </tr>
		    <tr>
		        <td>Presence of Child</td>
		        <td><div class="checkbox">
		        	<label class="checkbox-inline"><input type="checkbox" value="">Under 6 Years Old</label>
					<label class="checkbox-inline"><input type="checkbox" value="">6-17 Years Old</label>
					<label class="checkbox-inline"><input type="checkbox" value="">No Children</label>
				</div></td>
		    </tr>
    	</tbody>
  		</table>
	</div>
	
	<div class="container col-lg-6 col-md-6">
  		<h2>Filters</h2>
  		<h3> Social Class </h3>           
  		<table class="table table-bordered">
    	<thead>
      		<tr>
        		<th>Key</th>
        		<th>Attributes</th>
      		</tr>
    	</thead>
    	<tbody>
			<tr>
		        <td>Education</td>
		        <td><div class="checkbox">
		        	<label class="checkbox-inline"><input type="checkbox" value="">None</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Lower School</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Middle School</label>
					<label class="checkbox-inline"><input type="checkbox" value="">High School</label>
				</div>
				<div class="checkbox">
					<label class="checkbox-inline"><input type="checkbox" value="">Some High School</label>
					<label class="checkbox-inline"><input type="checkbox" value="">GED</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Some College</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Bachelors/Associate's</label>
				</div>
				<div class="checkbox">
					<label class="checkbox-inline"><input type="checkbox" value="">Masters/Doctorate</label>
				</div></td>
		    </tr>
		    <tr>
		        <td>Employment Class</td>
		        <td><div class="checkbox">
		        	<label class="checkbox-inline"><input type="checkbox" value="">For-Profit Company</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Not-for-Profit Company</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Government</label>
				</div>
				<div class="checkbox">
					<label class="checkbox-inline"><input type="checkbox" value="">Self-Employed</label>
					<label class="checkbox-inline"><input type="checkbox" value="">Unemployed/Not in Labor Force</label>
				</div></td>
		    </tr>

    	</tbody>
    	</table>
    </div>
   
      
  </body>
</html>
