<body>

  <div class="jumbotron">
    <h1 class="title-banner">Formidable Mapping Solutions by Sam</h1> 
      <h3 class="title-banner">My excitement for mapping things is unparalleled!</h3> 
  </div>

  <div class="container-fullwidth">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header"
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <ul class="nav navbar-nav ">
            <a class="navbar-brand" href="/">Main Map</a>
            <li class="active"><a href="#">Customer Profiles<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Something</a></li>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="#">Something Else</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Main</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
              </li>
            </ul>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>